@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&family=Poppins:wght@200;400;500&family=Roboto:ital,wght@0,100;0,300;0,400;1,400&display=swap');


body {
  font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif;
}



button {
  padding: 15px 30px;
  color: #fff;
  background-color: black;
  border: 1px solid gainsboro;
}

.book-button {
  background-image: linear-gradient(to right, rgb(255, 0, 255), rgb(250, 35, 7));
  border: none;

}

.hover-btn {
  padding: 5px 15px;
  color: #fff;
  background-color: orangered;
  border: 1px solid orangered;
}

/* banner css start*/
.banner {
  color: #fff;
  background-color: black;
}

.banner-title {
  margin-top: 140px;
}

.brand-title h2 {
  margin-top: 100px;
  font-size: 40px;
}

.spacial {
  color: rgb(250, 35, 7);
}

.brand {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 50px;
  margin-top: 80px;
}


/* banner css end */

/* portfolio css start */
.portfolio-section {
  background-color: beige;
  padding: 100px 0px;
}

.prot-title {
  font-size: 50px;
  font-weight: bolder;
  margin-bottom: 20px;

}

.prot-para {
  font-size: 14px;
  margin-bottom: 60px;

}

.single-protfolia {
  position: relative;
  margin: 10px;

}


.protfolia-hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  background-color: black;
  cursor: pointer;
  color: #fff;
}

.hover-title {
  margin-bottom: 100px;
}

.protfolia-hover a {
  padding-bottom: 100px;
  color: #fff;
}

.single-protfolia:hover .protfolia-hover {
  opacity: .8;
}

/* portfolio css start */

/* work css start */
.work-section {
  background-color: black;
  color: #fff;
}

.single-card-work {
  border: 1px solid rgb(78, 77, 77);
  padding: 40px;
  margin: 10px;

}

/* work css end */

/* membership css start */
.membership {
  background-color: aliceblue;
}

.member-title {
  padding-top: 100px;
  padding-bottom: 40px;


}

.member-title h1 {
  font-size: 50px;
  font-weight: bolder;


}

.member-title p {}

.single-member-card {
  border: 1px solid black;
  padding: 20px;
  transition: .4s;
  width: 350px;
  height: 320px;
  margin: 10px;

}

.single-member-card:hover {
  color: #fff;
  background-color: black;
}

/* membership css end */

/* services css start */
.services {
  background-color: black;
  color: #fff;
  padding: 100px 0px;
}

.single-service {
  color: #fff;
  padding: 20px;
}

.single-service h2 {
  font-size: 20px;
  margin-top: 20px;
}

.single-service p {
  font-size: 12px;
  margin-top: 10px;
}

.single-service:hover {
  background-color: rgba(54, 16, 16, 0.356);
}

/* services css end */

/* testimonials css start */

.test-title {}

.testimonials {
  background-color: black;
  color: #fff;
}

.single-testimonials {
  border: 1px solid gray;
  padding: 20px;
  position: relative;
}

.single-testimonials::after {
  content: ' ';
  position: absolute;
  top: 357px;
  left: 21px;
  height: 3px;
  width: 35%;
  background-color: #fff;
}

.single-testimonials:hover {
  background-color: rgba(54, 16, 16, 0.356);
}

.single-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.white-img {
  color: black;
  /* margin-left: 100px; */


}

.single-testimonials i {
  color: rgb(255, 238, 0);
  margin-top: 30px;
}


.testimonils-padding {
  margin-top: 20px;
}


.testimonils-padding .owl-nav {
  position: absolute;
  top: -68px;
  right: 39px;
  bottom: 0;
}


.testimonils-padding .owl-nav button i {
  font-size: 30px;
  height: 50px;
  width: 50px;
  background-color: black;
  text-align: center;
  line-height: 47px;
  margin-right: 5px;
  border-radius: 5px;
  transition: .3s;
  border: 1px solid gainsboro;
}


/* testimonials css end */